/* General styling for the page */
* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    font-size: 20px;
}

/* Styling for the header */
h1 {
    color: #333;
    text-align: center;
    margin: 0;
}

header {
    font-size: 13px;
}

#enso { 
    width: 40px;
    height: auto;
} 

header .topHeader, header .bottomHeader {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

/* Styling for the textarea */
textarea#ruby-code {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allows vertical resizing, might be useful for longer code */
}

body .CodeMirror {
    height: 400px;
    resize: both;
}

/* Styling for the run code button */
button {
    display: block;
    min-width: 100px;
    padding: 10px;
    margin: 20px auto;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button#run-code:hover {
    background-color: #0056b3;
}

/* Styling for the output div */
div#output {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: #e9ecef;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 100px; /* Ensures the div is visible even when empty */
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap; /* Maintains formatting for whitespace and newlines */
    overflow-wrap: break-word;
    line-height: 27px;
    background: #2d2d30;
    color: #fff;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }
  
  summary {
    cursor: pointer;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
  

.marker {
    background-color: rgba(0,122,204, 0.2);
}

.buttons {
    display: flex;
}

button.reset {
    background-color: rgb(124, 63, 63);
}

h1, h2 {
   color: #e70800;
}

h3 {
    text-transform: uppercase;
}

footer {
    margin-top: 60px;
    border-top: solid #2d2d30
}

/**** spinner */

.spinner {
    z-index: 300;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(255,255,255,0.97);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.spinner h1 {
    width: 100%;
}

  .spinner-image {
    animation: spin 1s ease infinite;
    width: 400px;
    height: 400px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*** zenmaster **/
#zenMasterChat {
    display: none;
    align-items: center; 
    max-width: 700px;
    margin: 20px;
    animation: fadeIn 1s ease-out;
  }

  .chat-message {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 10px;
  }
  
  .chat-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  .chat-message p {
    margin: 0;
    color: #333;
    font-family: Arial, sans-serif;
    word-break: break-word;
    padding: 20px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  






/** zenmaster end */